body {
    background-color: #bb8c93;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.recipes li {
    display: inline-block;
    background-color: #f3e0d1;
    margin: 8px auto;
    padding: 8px;
}

a {
    color: black;
    text-decoration: none;
}